/*-- -------------------------- -->
<---       Color Schemes        -->
<--- -------------------------- -*/

$color-primary-light: #7cb518;
$color-primary-dark: #5c8001;

$color-secondary: #fbb02d;
$color-secondary-dark: #fb6107;

$color-light: #eee;

$color-grey-light-1: #cad0c8;
$color-grey-light-2: #94a092;

$color-grey-dark-1: #171a16;
$color-grey-dark-2: #30362f;

/*-- -------------------------- -->
<---        Breakpoints         -->
<--- -------------------------- -*/

$bp-large: 75em; //1200px
$bp-medium: 56.25em; //900px
$bp-small: 37.5em; //600px
$bp-smallest: 31.25em; //600px

/*-- -------------------------- -->
<---     General Formatting     -->
<--- -------------------------- -*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; //1rem = 10px

    @media only screen and (max-width: $bp-large) {
        font-size: 50%; //1rem = 8px
    }
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    width: 100vw;
    overflow-x: hidden;
}

/*-- -------------------------- -->
<---    General Grid Spacing    -->
<--- -------------------------- -*/

.container {
    background-color: white;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 0 80vh 20vh max-content min-content min-content;
    @media only screen and (max-width: $bp-small) {
        grid-template-rows: 0 100vh max-content max-content min-content min-content;
    }
}

/*-- -------------------------- -->
<---        Highlighting        -->
<--- -------------------------- -*/

::selection {
    background-color: $color-primary-dark;
    color: #fff;
}

/*-- -------------------------- -->
<---       Comment order        -->
<--- -------------------------- -*/
//Mixin
//Parent
//Display
//Spacing
//Font Styling
//Color Styling
//Image Styling
//Border Styling
//Animations
