.hero {
    //Parent
    grid-row: 2 / span 1;
    margin-top: 9rem;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(
            to bottom,
            rgba($color-grey-dark-1, 1) 0%,
            rgba($color-grey-dark-1, 0.8) 20%,
            rgba($color-grey-dark-1, 0.7) 40%,
            rgba($color-grey-dark-1, 0.6) 60%
        ),
        url(../img/hero.jpg);
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @media only screen and (max-width: $bp-small) {
        flex-direction: column;
        align-items: center;
    }
    &__left {
        width: 40%;
        display: flex;
        justify-content: flex-end;
        @media only screen and (max-width: $bp-small) {
            width: 90%;
            justify-content: center;
        }
        &-image {
            height: 35rem;
            width: auto;
            margin: auto 6rem;
            @media only screen and (max-width: $bp-medium) {
                height: 30rem;
            }
            @media only screen and (max-width: $bp-small) {
                height: 25rem;
                margin-top: 10rem;
            }
            @media only screen and (max-width: $bp-smallest) {
                height: 15rem;
            }
        }
    }
    &__right {
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @media only screen and (max-width: $bp-small) {
            width: 90%;
            text-align: center;
        }
        &-title {
            color: $color-light;
            font-size: 6rem;
            font-weight: 800;
            @media only screen and (max-width: $bp-medium) {
                font-size: 4.6rem;
            }
            @media only screen and (max-width: $bp-small) {
                font-size: 4rem;
            }
            @media only screen and (max-width: $bp-smallest) {
                font-size: 3.2rem;
            }
        }
        &-subtitle {
            text-transform: capitalize;
            color: $color-light;
            font-size: 3rem;
            font-weight: 400;
            @media only screen and (max-width: $bp-medium) {
                font-size: 2.8rem;
            }
            @media only screen and (max-width: $bp-smallest) {
                font-size: 2rem;
            }
        }
    }
}
