.services {
    //Parent
    grid-row: 4 / span 1;
    background-color: $color-light;
    text-align: center;

    &__header {
        //Spacing
        padding: 8rem 0;
        //Font Styling
        font-size: 6rem;
        text-align: center;

        //Color Styling
        color: $color-primary-dark;

        @media only screen and (max-width: $bp-smallest) {
            font-size: 5rem;
        }
    }

    &__line {
        width: 2px;
        height: 60%;
        margin: auto 0;
        background-color: $color-primary-dark;
        border: none;
        @media only screen and (max-width: $bp-small) {
            height: 1px;
            width: 60%;
            margin: 0 auto;
        }
    }

    &__container {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        height: 100%;

        @media only screen and (max-width: $bp-small) {
            flex-direction: column;
            margin: 0;
            height: auto;
        }
    }

    &__box {
        margin: 0 auto;
        padding: 0 10rem;
        @media only screen and (max-width: $bp-small) {
            padding: 5rem 5rem;
        }
        @media only screen and (max-width: $bp-smallest) {
            padding: 5rem 2rem;
        }

        &-icon {
            width: 8rem;
            height: 8rem;
            fill: $color-primary-dark;
        }

        &-header {
            font-size: 4rem;
            font-weight: 400;
            margin-bottom: 3rem;
        }

        &-description {
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 4rem;
        }
    }
}
