.services {
    //Parent
    grid-row: 4 / span 1;

    //Font Styling
    text-align: center;

    //Color Styling
    background-color: $color-light;

    &__header {
        //Spacing
        padding: 8rem 0;

        //Font Styling
        font-size: 6rem;
        text-align: center;

        //Color Styling
        color: $color-primary-dark;

        @media only screen and (max-width: $bp-small) {
            //Spacing
            padding: 8rem 0 4rem;
        }

        @media only screen and (max-width: $bp-smallest) {
            //Font Styling
            font-size: 5rem;
        }
    }

    &__line {
        //Spacing
        width: 3px;
        height: 60%;
        margin: 0;

        //Font Styling
        background-color: $color-primary-dark;

        //Border Styling
        border: none;

        @media only screen and (max-width: $bp-small) {
            //Spacing
            height: 1px;
            width: 60%;
            margin: 0 auto;
        }
    }

    &__container {
        //Display
        display: flex;
        justify-content: center;

        //Spacing
        margin: 0 auto;
        height: 100%;

        @media only screen and (max-width: $bp-small) {
            //Display
            flex-direction: column;

            //Spacing
            margin-bottom: 4rem;
            height: auto;
        }
    }

    &__box {
        //Spacing
        margin: 0 auto 20rem;
        width: 30%;

        @media only screen and (max-width: $bp-large) {
            //Spacing
            margin: 0rem 5rem 5rem;
            width: 40%;
        }
        @media only screen and (max-width: $bp-medium) {
            //Spacing
            margin: 0rem 2rem 5rem;
            width: 49%;
        }
        @media only screen and (max-width: $bp-small) {
            //Spacing
            margin: 5rem auto;
            width: 90%;
        }

        &-icon {
            //Spacing
            width: 8rem;
            height: 8rem;

            //Color Styling
            fill: $color-primary-dark;
        }

        &-header {
            //Spacing
            margin-bottom: 5rem;

            //Font Styling
            font-size: 4.6rem;
            font-weight: 400;
        }

        &-description {
            //Font Styling
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 5rem;
        }
    }
}
