h1 {
}

h2 {
}

h3 {
}

.footer {
}

button {
    cursor: pointer;

    //Spacing
    padding: 1.8rem 3rem;

    //Font Styling
    font-size: 1.5rem;
    text-transform: uppercase;

    //Color Styling
    background-color: $color-primary-dark;
    color: #fff;

    //Border Styling
    border: none;
    border-radius: 0;

    //Animations
    transition: all 0.2s;

    &:hover {
        //Color Styling
        background-color: $color-primary-dark;
    }
}
