/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0em) {
  .about {
    padding: var(--sectionPadding);

    &__container {
      width: 100%;
      max-width: 80rem;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      row-gap: 2.5rem;
    }

    &__left {
      /* scaling the font size with the view width */
      font-size: calc(min(2.31vw, 0.7em));
      /* using ems so we can use font size to scale the whole section */
      width: 39.43em;
      height: 39.75em;
      position: relative;
      display: none;
    }

    &__picture {
      border-radius: 1.5em;
      /* clips img tag corners */
      overflow: hidden;
      position: absolute;
      display: block;
      img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        /* makes image act like a background image */
        object-fit: cover;
      }
    }

    &__picture-1 {
      width: 33em;
      height: 36em;
      left: 0;
      top: 0;
    }

    &__picture-2 {
      width: 25.8em;
      height: 25em;
      background-color: #fff;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 40px;
      /* 6px - 12px */
      border: clamp(0.375em, 1.5vw, 0.75em) solid #fff;
      right: 0;
      bottom: 0;
    }

    &__right {
      margin: auto;
      max-width: 34rem;
    }

    &__owner {
      display: flex;

      &-info {
        margin: auto 2rem 0 0;
      }
      &-image {
        border-radius: 1.5em;
        background-color: #fff;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px;
        border: clamp(0.2em, 0.8vw, 0.4em) solid #fff;
        right: 0;
        bottom: 0;
      }
    }

    &__desc {
      font-size: var(--topperFontSize);
      line-height: 1.2em;
      text-align: left;
      letter-spacing: 0.1em;
      font-weight: 700;
      color: var(--primary);
      margin-bottom: 0.5rem;
      display: block;
    }

    &__email {
      font-size: clamp(0.8125rem, 1.6vw, 0.9rem);
      line-height: 1.2em;
      text-align: left;
      letter-spacing: 0.05em;
      width: auto;
      font-weight: 700;
      color: var(--primary);
      margin-bottom: 0.5rem;
      display: block;
      text-decoration: none;
      position: relative;

      &:before {
        /* Animated underline */
        content: '';
        width: 0%;
        height: 2px;
        /* current color of the parent */
        background: currentColor;
        opacity: 1;
        position: absolute;
        display: block;
        bottom: -0.125rem;
        left: 0;
        transition: width 0.3s;
      }

      &:hover {
        &:before {
          width: 41%;
        }
      }
    }

    &__title {
      font-size: var(--headerFontSize);
      font-weight: 900;
      line-height: 1.2em;
      text-align: center;
      max-width: 50rem;
      margin: 0 auto 3rem;
      color: var(--headerColor);
      position: relative;
    }

    &__text {
      font-size: var(--bodyFontSize);
      line-height: 1.5em;
      text-align: left;
      width: 100%;
      max-width: 46.8rem;
      margin: 1rem auto 0;
      margin-bottom: 1rem;
      color: var(--bodyTextColor);
      text-indent: 1rem;

      &:last-of-type {
        margin-bottom: 2rem;
      }
    }

    &__flex-group {
      /* 16px - 32px */
      padding: clamp(1rem, 3vw, 2rem);
      background-color: #f7f7f7;
      border-radius: 1rem;
      position: relative;
    }

    &__flex-p {
      /* 14px - 16px */
      font-size: clamp(0.875rem, 1.5vw, 1rem);
      line-height: 1.5em;
      margin: 0 0 1rem;
      color: #767676;
    }

    &__name {
      font-size: 1.75rem;
      line-height: 1.2em;
      font-weight: bold;
      margin: 0 0 0.25rem;
      color: var(--headerColor);
      display: block;
    }

    &__job {
      font-size: 0.8rem;
      line-height: 1.5em;
      color: #767676;
      display: block;
    }
  }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64em) {
  .about {
    &__container {
      flex-flow: row;
      justify-content: space-between;
      gap: 3.25rem;
    }

    &__left {
      font-size: calc(min(1.2vw, 1em));
      flex: none;
      display: block;
    }

    &__right {
      margin: 0;
    }

    &__title {
      text-align: left;
    }
  }
}
