/* Mobile - 360px */
@media only screen and (min-width: 0em) {
  :root {
    /* 13px - 16px */
    --topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
    /* 31px - 49px */
    --headerFontSize: clamp(1.8rem, 4.5vw, 3rem);
    --bodyFontSize: 16/16rem;

    /* 60px - 100px top and bottom */
    --sectionPadding: clamp(3.75em, 7.82vw, 6.25em) 1rem;
  }

  #contact {
    font-family: 'Roboto', 'Arial', sans-serif;
    padding: var(--sectionPadding);

    .contact__container {
      width: 100%;
      /* changes to 1280px at desktop */
      max-width: 50rem;
      margin: auto;
    }

    .contact__content {
      width: 100%;
    }

    .contact__topper {
      font-size: var(--topperFontSize);
      line-height: 1.2em;
      text-transform: uppercase;
      text-align: left;
      letter-spacing: 0.1em;
      font-weight: 700;
      color: var(--primary);
      /* 8px - 12px */
      margin-bottom: clamp(0.5rem, 1.4vw, 0.75rem);
      display: block;
    }

    .contact__title {
      font-size: var(--headerFontSize);
      font-weight: 900;
      line-height: 1.2em;
      text-align: left;
      max-width: 50rem;
      margin: 0 auto 1rem 0;
      color: var(--headerColor);
      position: relative;
    }

    .contact__text {
      font-size: var(--bodyFontSize);
      line-height: 1.5em;
      text-align: left;
      width: 100%;
      /* 404px - 522px */
      max-width: clamp(25.25rem, 30vw, 32.625rem);
      margin: 0 auto 0 0;
      /* 40px - 48px */
      margin-bottom: clamp(2.5rem, 6.3vw, 3rem);
      color: var(--bodyTextColor);
    }

    #contact__form {
      margin-bottom: 2.5rem;
      label {
        font-size: 1rem;
        line-height: 1.5em;
        font-weight: 700;
        /* 12px - 20px */
        margin-bottom: clamp(0.75rem, 1.3em, 1.25rem);
        color: var(--headerColor);
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
      }

      .contact__label-upload {
        cursor: pointer;
        width: 100%;

        .inputfile {
          cursor: pointer;
          padding: 1rem;
        }
      }

      .contact__label-message {
        /* 32px - 48px */
        margin-bottom: clamp(2rem, 6.3vw, 3rem);
      }

      input,
      textarea {
        font-size: 1rem;
        width: 100%;
        height: 4rem;
        margin-top: 0.25rem;
        padding-left: 1.25rem;
        border: 1px solid #b4b2c7;
        border-radius: 0.5rem;
        box-sizing: border-box;
        transition: border 0.3s;

        &:hover {
          border: 1px solid var(--primary);
        }
      }

      textarea {
        font-family: inherit;
        padding-top: 1.25rem;
        min-height: 7.5rem;
      }

      .contact__button-solid {
        width: 100%;
      }
    }

    .contact__button-solid {
      font-size: 1rem;
      line-height: 3.5rem;
      text-decoration: none;
      font-weight: 700;
      text-align: center;
      margin: auto;
      color: #fff;
      min-width: 9.4rem;
      padding: 0 1.5rem;
      background-color: var(--primary);
      border: none;
      border-radius: 0.25rem;
      display: inline-block;
      position: relative;
      z-index: 1;
      box-sizing: border-box;

      &:before {
        content: '';
        position: absolute;
        height: 100%;
        width: 0%;
        background: #000;
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: 0.25rem;
        transition: width 0.3s;
      }

      &:hover {
        color: var(--bodyTextColorWhite);
        cursor: pointer;
        &:before {
          width: 100%;
        }
      }
    }

    .contact__right-section {
      position: relative;
      height: 20rem;
      /* 20px - 40px left & right & 24px - 40px top & bottom */
      padding: clamp(1.5rem, 3vw, 2.5rem) clamp(1.25rem, 3vw, 2.5rem);
      border-radius: 0.5rem;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-end;
    }

    .contact__header {
      /* 16px - 20px */
      font-size: clamp(1rem, 3vw, 1.25rem);
      line-height: 1.2em;
      font-weight: 700;
      margin-bottom: 0.5rem;
      color: var(--bodyTextColorWhite);
      display: block;
    }

    .contact__link {
      /* 16px - 20px */
      font-size: clamp(1rem, 3vw, 1.25rem);
      line-height: 1.2em;
      text-decoration: none;
      margin-bottom: 1.25rem;
      color: var(--bodyTextColorWhite);
      display: block;
      position: relative;

      &:before {
        /* Animated underline */
        content: '';
        width: 0%;
        height: 2px;
        /* current color of the parent */
        background: currentColor;
        opacity: 1;
        position: absolute;
        display: block;
        bottom: -0.125rem;
        left: 0;
        transition: width 0.3s;
      }

      &:hover {
        &:before {
          width: 100%;
        }
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    .contact__block {
      /* sends second address line to the bottom on its own line */
      display: block;
    }

    .contact__bg-picture {
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: transform 0.6s;

      &:before {
        /* background color overlay */
        content: '';
        position: absolute;
        display: block;
        height: 100%;
        width: 100%;
        background: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0) 0%,
          rgba(0, 0, 0, 0.8) 100%
        );
        top: 0;
        left: 0;
        z-index: 1;
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        /* Makes img tag act as a background image */
        object-fit: cover;
      }
    }
  }
}

/* Tablet - 700px */
@media only screen and (min-width: 43.75em) {
  #contact {
    #contact__form {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;

      label {
        width: 48%;
      }

      .contact__label-upload {
        width: 100%;
      }

      .contact__label-message {
        width: 100%;
      }
    }
  }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64em) {
  #contact {
    .contact__container {
      max-width: 80rem;
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
      gap: 5rem;
    }

    #contact__form {
      max-width: 39.4rem;
      label {
        width: 100%;
      }
    }

    .contact__right-section {
      /* changes to 578px at 1300px wide */
      height: 42.8rem;
      width: 40%;
      max-width: 33.8rem;
      flex: none;

      &:hover {
        .contact__bg-picture {
          transform: scale(1.1);
        }
      }
    }

    .contact__block {
      /* goes back to inline so it stays "in line" with the rest of the text */
      display: inline-block;
    }
  }
}

/* Small Desktop - 1300px */
@media only screen and (min-width: 81.25em) {
  #contact {
    #contact__form {
      column-gap: 0rem;
      label {
        width: 48%;
        max-width: 19rem;
      }

      .contact__label-upload {
        max-width: 100%;
      }

      .contact__label-message {
        max-width: 100%;
      }
    }

    .contact__right-section {
      height: 36rem;
    }
  }
}
