/*-- -------------------------- -->
<---        Core Styles         -->
<--- -------------------------- -*/

/* Mobile */
@media only screen and (min-width: 0em) {
  // Website colors
  :root {
    --primary: #5c8001;
    --primaryShade: #7cb518;
    --primaryDark: #496501;
    --bodyTextColor: #4e4b66;
    --bodyTextColorWhite: #fafbfc;
    --headerColor: #1a1a1a;
    --buttonRadius: 3px;

    --topperFontSize: clamp(0.8rem, 1.6vw, 1rem);
    --headerFontSize: clamp(2.5rem, 4.5vw, 3.05rem);

    /* 60px - 100px top and bottom */
    --sectionPadding: clamp(3.75em, 7.82vw, 6.25em) 1rem;
  }

  body,
  html {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
    color: var(--bodyTextColor);
    overflow-x: hidden;
  }

  *,
  *:before,
  *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    transition: background-color 0.3s;
  }

  .container {
    position: relative;
    width: 92%;
    margin: auto;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    color: var(--headerColor);
  }

  p,
  li,
  a {
    font-size: 1.2rem;
    line-height: 1.5em;
    margin: 0;
  }

  p,
  li {
    color: #575757;
  }

  a,
  button {
    &:hover {
      cursor: pointer;
    }
  }

  ::selection {
    background-color: var(--primary);
    color: #fff;
  }

  // Hidden Screen reader skip nav button
  .skip {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -1111111;
  }
}

/* Reset Margins */
@media only screen and (min-width: 1024px) {
  body,
  html {
    padding: 0;
    margin: 0;
  }
}

/* Scale full website with the viewport width */
@media only screen and (min-width: 2000px) {
  body,
  html {
    font-size: 0.85vw;
  }
}

/*-- -------------------------- -->
<---   Interior Page Header     -->
<--- -------------------------- -*/

/* Mobile */
@media only screen and (min-width: 0em) {
  #int-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 1;
    min-height: 35vh;
    padding-top: 3.2rem;

    &:before {
      content: '';
      position: absolute;
      display: block;
      height: 100%;
      width: 100%;
      background: #000;
      opacity: 0.7;
      top: 0;
      left: 0;
      z-index: -1;
    }

    picture {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: -2;

      img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    h1 {
      color: #fff;
      font-size: 2.2rem;
      text-align: center;
      margin: 0 auto;
      position: relative;
      width: 96%;
      max-width: 31.25rem;
      margin-top: 4.4rem;
      margin-bottom: 1.8rem;
    }

    p {
      color: #fff;
      text-align: center;
      max-width: 25rem;
      margin: auto;
      margin-bottom: 1.8rem;
      display: block;
      width: 96%;
    }
  }
}

/* Tablet */
@media only screen and (min-width: 48em) {
  #int-hero {
    font-size: 100%;

    h1 {
      font-size: 4rem;
    }
  }
}

/* Small Desktop */
@media only screen and (min-width: 64em) {
  #int-hero {
    min-height: 35rem;
    height: auto;
    padding-top: 11.25rem;
    padding-block-end: 6.25rem;
    background-attachment: fixed;
    font-size: inherit;
  }
}

/*-- -------------------------- -->
<---           Footer           -->
<--- -------------------------- -*/

/* Mobile */
@media only screen and (min-width: 0em) {
  .footer {
    background: #1c1c1c;
    padding: 3.2rem 0 1.25rem;
    font-size: clamp(1.2em, 4vw, 2em);

    &__left-section {
      margin: auto;
      margin-bottom: 3.2rem;
      text-align: center;

      &--logo {
        display: inline-block;
        margin: auto;
        width: auto;
        height: 6.25em;
        margin-bottom: 3.2em;
        text-align: center;

        img {
          width: auto;
          height: 130%;
          display: block;
        }
      }

      p {
        color: #fff;
        opacity: 0.9;
        text-align: center;
      }
    }

    &__right-section {
      width: 96%;
      max-width: 25.4rem;
      margin: auto;

      &--lists {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 96%;
        max-width: 19rem;
        margin: auto;

        ul {
          padding: 0;
          margin-bottom: 0;
          margin-top: 0;

          &:nth-of-type(2) {
            margin-top: 3.2rem;
            li {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              margin-bottom: 1rem;

              &:last-of-type {
                margin-bottom: 0;
              }
            }
          }

          li {
            list-style: none;
            margin-bottom: 0.75rem;
            color: #fff;
            font-size: 1.1rem;
            opacity: 0.9;

            a {
              text-decoration: none;
              color: #fff;
              line-height: 1.1em;
              transition: color 0.3s;
              &:hover {
                color: var(--primary);
              }
            }
          }
          h2 {
            color: #fff;
            font-size: 1.1rem;
            line-height: 1.1em;
            margin-bottom: 2.3rem;
            text-transform: uppercase;
            font-weight: bold;
            position: relative;

            &:before {
              content: '';
              position: absolute;
              display: block;
              height: 0.1rem;
              width: 6rem;
              background: var(--primary);
              opacity: 1;
              bottom: -1rem;
              left: 0;
            }
          }
        }
      }
    }

    &__credit {
      color: #fff;
      width: 96%;
      margin: auto;
      text-align: center;
      margin-top: 6.25rem;
      line-height: 2.25rem;
      font-size: 1rem;

      a {
        color: var(--primary);
        text-decoration: none;
        font-size: 1rem;

        &:hover {
          text-decoration: underline;
        }
      }

      &--copyright {
        display: block;
        font-size: 1rem;
      }
    }
  }
}

/* Small Desktop */
@media only screen and (min-width: 64em) {
  .footer {
    padding: 5.25rem 0 1.25rem;
    font-size: calc(min(1.2vw, 1em));
    &__container {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      width: 96%;
      max-width: 82.5rem;
      margin: auto;
      padding: 0;
    }

    &__left-section {
      width: 35rem;
      margin: 0;
      text-align: left;

      &--logo {
        text-align: left;
        margin-left: 0;
        width: 30rem;
        margin-bottom: 3.75rem;
      }

      p {
        text-align: left;
        margin-left: 0;
      }
    }

    &__right-section {
      margin: 0;
      width: 40rem;
      max-width: none;
      &--lists {
        width: 96%;
        max-width: 68rem;
        margin: 0;
        max-width: initial;

        ul {
          &:nth-of-type(2) {
            margin-top: 0;

            li:first-of-type {
              margin-bottom: 0;
            }
          }

          li {
            a {
              position: relative;

              &:before {
                content: '';
                position: absolute;
                display: block;
                height: 0.2rem;
                width: 0%;
                background: var(--primary);
                opacity: 1;
                bottom: -0.3rem;
                left: 0;
                transition: width 0.3s;
              }

              &:hover {
                &:before {
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }

    &__credit {
      &--copyright {
        display: inline-block;
      }
    }
  }
}
