---
layout: 'base.html'
description: "Contact page for Andy's Foundations"
metaTitle: "Andy's Foundations LLC"
tagTitle: "Andy's Foundations LLC | Contact"
permalink: 'contact/'
---

{% block preload %}
<link rel="preload" as="image" href="/assets/images/landing.jpg">
{% endblock %}

{% block pageCSS %}
<link rel="stylesheet" href="/css/contact.css">
{% endblock %}

<!-- Enter html code below -->

<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="int-hero">
    <h1 id="home-h">Contact Us</h1>
    <picture>
        <source media="(max-width: 600px)" srcset="/assets/images/cabinets2-m.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/cabinets2.jpg">
        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/cabinets2.jpg" alt="" width="400"
            height="662">
    </picture>
</section>

<!-- ============================================ -->
<!--                Contact Form                  -->
<!-- ============================================ -->

<section id="contact">
    <div class="contact__container">
        <form id="contact__form" name="Contact Form" method="post"
            action="https://formsubmit.co/debra@downeyfoundation.com" enctype="multipart/form-data">
            <div class="contact__content">
                <span class="contact__topper">Contact</span>
                <h2 class="contact__title">Get in Touch</h2>
                <p class="contact__text">
                    Fill out the form and send us your plans. We'll get back to you as soon as we are able.
                    Or use the information to the right to reach out directly.
                </p>
            </div>
            <label>
                Name
                <input required type="text" id="name" name="name" placeholder="Name">
            </label>
            <label>
                Email
                <input required type="text" id="email" name="email" placeholder="Email">
            </label>
            <label>
                Phone
                <input required type="text" id="phone" name="phone" placeholder="Phone">
            </label>
            <label>
                How Did You Find Us
                <input type="text" id="find" name="find-us" placeholder="How did you find us?">
            </label>
            <!-- Upload Field -->
            <label class="contact__label-upload">
                Upload plans
                <input type="file" name="file" id="file" class="inputfile" accept="image/png, image/jpeg" multiple>
            </label>
            <label class="contact__label-message">
                Message
                <textarea required name="message" id="message" placeholder="Write message..."></textarea>
            </label>
            <button class="contact__button-solid" type="submit">Submit Message</button>
        </form>
        <div class="contact__right-section">
            <!--Email-->
            <span class="contact__header">Email</span>
            <a class="contact__link" href="mailto:debra@downeyfoundation.com">debra@downeyfoundation.com</a>
            <!--Phone-->
            <span class="contact__header">Phone</span>
            <a class="contact__link" href="tel:913-962-6644">(913) 962-6644</a>
            <!--Address-->
            <span class="contact__header">Address</span>
            <a class="contact__link" href="https://goo.gl/maps/MfozunTD8VddXTCX6" target="_blank">
                11101 Johnson Dr, Ste 50, Shawnee, KS 66203</span></a>

            <!-- Background Image-->
            <picture aria-hidden="true" class="contact__bg-picture">
                <source media="(max-width: 600px)" srcset="/assets/images/skyscraper-m.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/skyscraper.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/skyscraper.jpg" alt="building" width="542"
                    height="662">
            </picture>
        </div>
    </div>
</section>