---
layout: 'base.html'
canonical: 'https://www.andysfoundations.com'
description: "Andy's Foundations LLC provides affordable professional concrete foundations for homes and businesses."
metaTitle: "Andy's Foundations LLC"
tagTitle: "Andy's Foundations LLC | Concrete Foundations | Shawnee, KS"
permalink: '/'
---

<!-- 
This is to pre load any image above the fold (hero section background).
-->

{% block preload %}
<link rel="preload" as="image" href="/assets/images/landing.webp">
{% endblock %}

{% block pageCSS %}
<link rel="stylesheet" href="/css/critical.css">
<link rel="stylesheet" href="/css/local.css">

<!--Defer loading the whole page css-->
<link rel="stylesheet" href="/css/local.css" media="print" onload="this.media='all'; this.onload=null;">
{% endblock %}

<!-- Enter html code below -->

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero" class="hero">
    <div class="hero__container">
        <div class="hero__flex-group">
            <span class="hero__topper">Foundations you can trust</span>
            <h1 class="hero__title">Andy's Foundations</h1>
            <p class="hero__text">Proudly Serving Kansas City Metro For Decades</p>
            <a href="/contact" class="hero__button-solid">Contact Us</a>
        </div>
    </div>

    <!-- Background Image -->
    <picture class="hero__picture" aria-hidden="true">
        <source media="(max-width: 600px)" srcset="/assets/images/landing-m.webp">
        <source media="(min-width: 601px)" srcset="/assets/images/landing.webp" type="image/webp">
        <source media="(min-width: 601px)" srcset="/assets/images/landing.jpg" type="image/jpeg">
        <img loading="lazy" decoding="async" src="/assets/images/landing.jpg"
            alt="concrete wall with ladders against it" width="2250" height="1500">
    </picture>
</section>


<!-- ============================================ -->
<!--                  Info Bar                    -->
<!-- ============================================ -->

<section id="services" class="services">
    <div class="services__card">
        <picture>
            <img aria-hidden="true" decoding="async" src="assets/images/marker.svg" alt="marker" width="48" height="48"
                fill="white">
        </picture>
        <h2>Locally Owned</h2>
        <p>Born and raised in Shawnee, KS</p>
    </div>
    <div class="services__card">
        <picture>
            <img aria-hidden="true" decoding="async" src="assets/images/calendar.svg" alt="calendar" width="48"
                height="48" fill="white">
        </picture>
        <h2>Experienced</h2>
        <p>Over 120 years combined experience</p>
    </div>
    <div class="services__card">
        <picture>
            <img aria-hidden="true" decoding="async" src="assets/images/dollar.svg" alt="dollar" width="48" height="48">
        </picture>
        <h2>Affordable</h2>
        <p>Affordable costs, professional quality</p>
    </div>
</section>

<!-- ============================================ -->
<!--               Top Side By Side               -->
<!-- ============================================ -->
<!--                   About Us                   -->
<!-- ============================================ -->

<section id="sbs-top" class="sbs-top">
    <div class="sbs-top__container">
        <!-- Left Image Section -->
        <div class="sbs-top__left">
            <picture class="sbs-top__picture sbs-top__picture-1" aria-hidden="true">
                <source media="(max-width: 600px)" srcset="/assets/images/wall-m.webp">
                <source media="(min-width: 601px)" srcset="/assets/images/wall.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/wall.jpg" alt="exposed concrete wall"
                    width="522" height="581">
            </picture>
            <picture class="sbs-top__picture sbs-top__picture-2" aria-hidden="true">
                <source media="(max-width: 600px)" srcset="/assets/images/foundation-m.webp">
                <source media="(min-width: 601px)" srcset="/assets/images/foundation.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/foundation.jpg"
                    alt="concrete foundation by lake" width="414" height="400">
            </picture>
        </div>
        <!-- Right Content Section-->
        <div class="sbs-top__right">
            <span class="sbs-top__topper">About Us</span>
            <h2 class="sbs-top__title">About Andy's Foundations</h2>
            <p class="sbs-top__text">
                Since our inception we've been serving the greater Kansas City Metro area. With a combined total of over
                120 years experience among our senior staff, we have what it takes to get your project done. To see what
                we can do for you and your property, call or email us today.
            </p>
            <a href="/about" class="button-solid">About Our Team</a>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--             Bottom Side By Side              -->
<!-- ============================================ -->
<!--                   Services                   -->
<!-- ============================================ -->

<section id="sbs-bot" class="sbs-bot">
    <div class="sbs-bot__container">
        <!-- Left Image Section -->
        <div class="sbs-bot__left">
            <picture class="sbs-bot__picture sbs-bot__picture-1" aria-hidden="true">
                <source media="(max-width: 600px)" srcset="/assets/images/house-m.webp">
                <source media="(min-width: 601px)" srcset="/assets/images/house.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/house.jpg" alt="stone wall" width="414"
                    height="400">
            </picture>
            <picture class="sbs-bot__picture sbs-bot__picture-2" aria-hidden="true">
                <source media="(max-width: 600px)" srcset="/assets/images/bricks-m.webp">
                <source media="(min-width: 601px)" srcset="/assets/images/bricks.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/bricks.jpg" alt="unfinished concrete wall"
                    width="522" height="581">
            </picture>
        </div>
        <!-- Right Content Section-->
        <div class="sbs-bot__right">
            <span class="sbs-bot__topper">Services</span>
            <h2 class="sbs-bot__title">Residential and Commercial</h2>
            <p class="sbs-bot__text">
                Do you need a foundation laid for your new dream home? Andy's Foundations is here to see
                your project through. We will be there for each step: from the initial preparation
                of the site up to adding the final curing compound at a cost that your wallet can handle. We
                take pride in our work and we want you to take pride in your new home.
            </p>
            <p class="sbs-bot__text">
                Commercial projects come with a host of responsibilities and
                require a high level of dedication. Andy has the knowledge and experience necessary to
                tackle your commercial project head-on. When it comes to building foundations for a
                massive complex or a smaller Mom and Pop store, we will provide you with quality workmanship that is
                on-time and to your satisfaction.
            </p>
            <a href="/contact" class="button-solid">Get an estimate</a>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--             Final Call to Action             -->
<!-- ============================================ -->

<section id="cta" class="cta">
    <div class="cta__container">
        <h2 class="cta__title">Get It Done<br>With Us Today</h2>
        <p class="cta__desc"> Looking to begin your new home or business?
            <br>Get started on the right foot and reach out!
        </p>
        <a href="/contact" class="button-solid">Get an Estimate Now</a>
    </div>
    <picture class="cta__background">
        <source media="(max-width: 600px)" srcset="assets/images/landing-m.webp">
        <source media="(min-width: 601px)" srcset="assets/images/landing.jpg">
        <img aria-hidden="true" loading="lazy" decoding="async" src="assets/images/landing.jpg"
            alt="construction workers" width="1920" height="1280">
    </picture>
</section>

<!-- ============================================ -->
<!--                   Scripts                    -->
<!-- ============================================ -->

<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
<script>
    if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
            if (!user) {
                window.netlifyIdentity.on("login", () => {
                    document.location.href="/admin/";
                });
            }
        });
    }
</script>